<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Version 1 MemeMe App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A23B0581DDE70E200055B8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A23B06C1DDE70E300055B8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A23B0771DDE70E300055B8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
